* {
  margin: 0;
  padding: 0;
}

header {
  position: sticky;
  top: 0;
}

main {
}

footer {
}

/* Стили для планшетов */
@media screen and (max-width: 820px) {
}

/* Стили для мобильных */
@media screen and (max-width: 540px) {
}
