header {
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 1;
  height: 107px;
  /* box-shadow: 0px 0px 20px var(--cnt-000); */
}

/* iframe {
  border-radius: 0px 0px 8px 8px;
} */

.header-menu-button {
  background: rgb(99, 142, 168);
  width: 100%;
  height: 35px;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: end;
}

.header-menu-button::after {
  content: "";
  background: linear-gradient(180deg, #0f0f0f 100%, transparent);
  opacity: 0.2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.header-button-menu {
  cursor: pointer;
  z-index: 1;
}

.select-album {
  display: flex;
  gap: 8px;
}

.select-album-button {
  width: 100px;
  height: 100px;
  background-size: contain;
  border-radius: 16px;
  appearance: none;
  border: none;
  cursor: pointer;
}

.select-album-button-krovoskot {
  background-image: url("/assets/album/KROVOSTOK/photo640x640.jpg");
}

.select-album-button-slavakpss {
  background-image: url("/assets/album/SLAVAKPSS/photo640x640.jpg");
}

.select-album-button-johnnygaric {
  background-image: url("/assets/album/JOHNNYGARIC/photo640x640.jpg");
}
